*foreground:		#ffffff
*background:		rgba(0, 0, 0, .7)

URxvt.font:		xft:monospace:size=12
URxvt.scrollBar:	false
URxvt.cursorColor:	#ff00ff
URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.internalBorder:	20
URxvt.background:	[95]#000000
